@font-face {
  font-family: "Open Sans-Bold";
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "Open Sans-Regular";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Open Sans-Light";
  src: url("../fonts/Open_Sans/OpenSans-Light.ttf") format("truetype"); }
.font-family-bold {
  font-family: "Open Sans-Bold", sans-serif !important; }

.font-family-light {
  font-family: "Open Sans-Light", sans-serif !important; }

.font-family-regular {
  font-family: "Open Sans-Regular", sans-serif !important; }

body {
  height: 500px;
  background-image: url("../images/header_bg.jpg");
  background-size: 100%;
  background-repeat: no-repeat; }

.icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: white;
  mask-image: url("../images/icons/eye-open.svg");
  -webkit-mask-image: url("../images/icons/eye-open.svg");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center; }
  .icon.icon-home {
    mask-image: url("../images/icons/home.svg");
    -webkit-mask-image: url("../images/icons/home.svg"); }
  .icon.icon-eye {
    mask-image: url("../images/icons/eye-open.svg");
    -webkit-mask-image: url("../images/icons/eye-open.svg"); }
  .icon.icon-button {
    mask-image: url("../images/icons/play-button.svg");
    -webkit-mask-image: url("../images/icons/play-button.svg"); }
  .icon.icon-up {
    mask-image: url("../images/icons/thumbs-up.svg");
    -webkit-mask-image: url("../images/icons/thumbs-up.svg"); }
  .icon.icon-down {
    mask-image: url("../images/icons/thumbs-up.svg");
    -webkit-mask-image: url("../images/icons/thumbs-up.svg"); }

header .search {
  margin-right: 338px;
  margin-top: auto; }
  header .search input {
    margin-right: inherit; }

main .container .row .icons .row .col-md-4 .card .card-body .dastur {
  background-image: url("../images/icons.png");
  width: 140px;
  height: 119px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 70px;
  background-position-x: -290px; }
main .container .row .icons .row .col-md-4 .card .card-body .chiptalar {
  background-image: url("../images/icons.png");
  width: 140px;
  height: 119px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 70px;
  background-position-x: -140px; }
main .container .row .icons .row .col-md-4 .card .card-body .masxa {
  background-image: url("../images/icons.png");
  width: 140px;
  height: 119px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 70px; }
main .container .row .pic .card img {
  width: 380px;
  height: 190px;
  position: relative; }
main .container .row .pic .card .sloy {
  width: 100%;
  background-color: rgba(0, 245, 235, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: 0.7s; }
  main .container .row .pic .card .sloy:hover {
    opacity: 1; }
main .container .row .col-4 .row .galery .col-md-6 img {
  width: 175px;
  height: 120px; }
main .container .row .col-4 .row .galery img {
  width: 365px;
  height: 250px; }
main .container .row .col-4 .row .col-md-12 .footercha2 {
  margin-left: 50px; }
  main .container .row .col-4 .row .col-md-12 .footercha2 .icon {
    width: 15px;
    height: 15px;
    background-color: grey;
    vertical-align: middle; }
  main .container .row .col-4 .row .col-md-12 .footercha2 .icon-down {
    transform: rotate(180deg); }
main .container .row .col-4 .row .col-md-12 .card img {
  position: relative; }
main .container .row .col-4 .row .col-md-12 .card .zloy {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0; }
  main .container .row .col-4 .row .col-md-12 .card .zloy span {
    background-color: whitesmoke;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 99px;
    left: 147px; }
  main .container .row .col-4 .row .col-md-12 .card .zloy:hover {
    opacity: 1; }
main .container .row .col-4 .row .col-md-12 .footercha .icon {
  width: 15px;
  height: 15px;
  background-color: grey;
  vertical-align: middle; }
main .container .row .col-4 .row .col-md-12 .footercha .icon-down {
  transform: rotate(180deg); }
main .container .row .col-4 .row .col-md-6 .card {
  position: relative; }
  main .container .row .col-4 .row .col-md-6 .card .zloy {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0; }
    main .container .row .col-4 .row .col-md-6 .card .zloy span {
      background-color: whitesmoke;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 39px;
      left: 60px; }
    main .container .row .col-4 .row .col-md-6 .card .zloy:hover {
      opacity: 1; }

.chiziq {
  width: 400px;
  height: 3px;
  background: whitesmoke; }

section#engkopsavol .container .row .col-md-6 .progress .progress-bar {
  background-color: #2A2A64; }
  section#engkopsavol .container .row .col-md-6 .progress .progress-bar .badge {
    position: absolute;
    left: 249px;
    top: 16px; }
section#engkopsavol .container .abs {
  position: relative; }

.rang {
  color: #2A2A64; }
  .rang.rang-purple {
    background-color: #2A2A64; }
  .rang.rang-muted {
    color: #B1B1B1; }

@media (min-width: 556px) and (max-width: 956px) {
  .container .row .col-md-6 .progress .progress-bar .badge {
    left: 0; } }

/*# sourceMappingURL=main.css.map */
